# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Uploaded test images from Flask app
static/uploads/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE/editor
.vscode/
.idea/

# Extras
kaggle_upload
testing
report.html